/* 状态栏高度 */
.status-bar::before {
	content: '';
	width: 100%;
	height: var(--status-bar-height);
	display: block;
}

.status-bar-white::before {
	content: '';
	width: 100%;
	height: var(--status-bar-height);
	display: block;
	background-color: #fff;
}


page {
	height: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	font-family: PingFangSC, PingFang, SC Arial, Helvetica, sans-serif;
	background: no-repeat top/100% url('/static/images/page_bg.png');
	// background: linear-gradient(#7BC9FF, #F2F8FE, #F2F2F6);
	// background: linear-gradient(lighten($uni-color-primary, 20%), #F2F8FE, #F2F2F6);

}

.page-wrap {
	height: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow-y: auto;

	.page-content {
		flex: 1;
		overflow-y: auto;
		padding: 0 $uni-spacing-row-lg;
	}
}