
/* 状态栏高度 */
.status-bar::before {
	content: '';
	width: 100%;
	height: var(--status-bar-height);
	display: block;
}
.status-bar-white::before {
	content: '';
	width: 100%;
	height: var(--status-bar-height);
	display: block;
	background-color: #fff;
}

page {
	font-family: PingFangSC, PingFang, SC Arial, Helvetica, sans-serif;
}