@font-face {
  font-family: "c-icon"; /* Project id 3903350 */
  /* Color fonts */
  src: url('@/common/font/color/iconfont.woff2') format('woff2'),
       url('@/common/font/color/iconfont.woff') format('woff'),
       url('@/common/font/color/iconfont.ttf') format('truetype');
}

.c-icon {
  font-family: "c-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.c-icon-hamigua:before {
  content: "\f399";
}

.c-icon-hongluobu:before {
  content: "\f38b";
}

.c-icon-putao:before {
  content: "\f38c";
}

.c-icon-qingpingguo:before {
  content: "\f38d";
}

.c-icon-xigua:before {
  content: "\f38e";
}

.c-icon-xiangjiao:before {
  content: "\f38f";
}

.c-icon-juzi:before {
  content: "\f390";
}

.c-icon-li:before {
  content: "\f391";
}

.c-icon-pingguo:before {
  content: "\f392";
}

.c-icon-shiliu:before {
  content: "\f393";
}

.c-icon-boluo:before {
  content: "\f394";
}

.c-icon-chelizi:before {
  content: "\f395";
}

.c-icon-liulian:before {
  content: "\f396";
}

.c-icon-pipa:before {
  content: "\f397";
}

.c-icon-xing:before {
  content: "\f398";
}

.c-icon-hetao:before {
  content: "\f39a";
}

.c-icon-shanzha:before {
  content: "\f39b";
}

.c-icon-shizi:before {
  content: "\f39c";
}

.c-icon-lanmei:before {
  content: "\f39d";
}

.c-icon-niuyouguo:before {
  content: "\f39e";
}

.c-icon-yingtao:before {
  content: "\f39f";
}

.c-icon-youzi:before {
  content: "\f3a0";
}

.c-icon-huolongguo:before {
  content: "\f3a1";
}

.c-icon-lizi:before {
  content: "\f3a4";
}

.c-icon-huluobu:before {
  content: "\f3a5";
}

.c-icon-qingli:before {
  content: "\f3a6";
}

.c-icon-tudou:before {
  content: "\f3a7";
}

.c-icon-xihongshi:before {
  content: "\f3a8";
}

.c-icon-mihoutao:before {
  content: "\f3a9";
}

.c-icon-tizi:before {
  content: "\f3aa";
}

.c-icon-baixiangguo:before {
  content: "\f3ac";
}

.c-icon-juqi:before {
  content: "\f3ad";
}

.c-icon-yezi:before {
  content: "\f3ae";
}

.c-icon-biji:before {
  content: "\f3af";
}

.c-icon-mugua:before {
  content: "\f3b0";
}

.c-icon-sangshen:before {
  content: "\f3b1";
}

.c-icon-caomei:before {
  content: "\f387";
}

.c-icon-ningmeng:before {
  content: "\f388";
}

.c-icon-shanzhu:before {
  content: "\f389";
}

.c-icon-taozi:before {
  content: "\f38a";
}

